{% extends "layout.html" %}

{% block body %}

<h3>Hakkımızda</h3>
<hr>
<p>Merhaba. Ben Süleyman Emre Eriş. Ege Üniversitesi Elektrik-Elektronik Mühendisliği öğrencisiyim. Öğrenmek ve gelişmek isteyen her insana yardımcı olabilmek için buradayım. Yazılım alanında kendimi geliştirmeye asıl olarak 2020 yılında başladım ve bunu devam ettiriyorum. Ülkemizin gençleri olarak hep beraber yazılımı ve bilimi herkese aşılamaya var mısın? Aşağıdaki linklerden bana ulaşabilirsiniz.</p>
<br><a href = "https://www.instagram.com/emrerxs">İnstagram</a>
<br><a href = "https://www.linkedin.com/in/semreeris">LinkedIn</a>
<br><a href = "mailto:emreris4545@gmail.com">Mail</a>
<hr>
{% endblock  %}
