{% extends 'layout.html' %}


{% block body %}

<div class = "jumbotron text-center">
    <h3>Eris Bloğuna Hoşgeldiniz</h3>

    <p> Bu blogta geliştiriciler olarak blog yazılarınızı paylaşabilirsiniz ve insanlara yardımcı olabilirsiniz. Bu blogta herkes birer öğrencidir... </p>
    <p><i><font face="Times New Roman" size="3" color="blue">Zekanın ölçütü bilgi değil hayal gücüdür.</font></i><p>
    <p><i><font face="Times New Roman" size="3" color="blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;~ Albert Einstein</font></i></p>
</div>
{% endblock body %}


